header {
    grid-column: 1 / -1;
    grid-row: -2 / span 1;
    padding: 10px;
    text-align: center;
}
footer {
    grid-column: 1 / -1;
    grid-row: span 1 / -1;
    padding: 10px;
    display: grid;
    justify-content: end;
    align-content: end;
}