footer {
    grid-column: 1 / -1;
    grid-row: span 2 / -1;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto; 
    button {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        justify-self: end;
        align-self: start;
        background: transparent;
        border: none;
        outline: none;
        z-index: 99;
    }
    h2 {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        justify-self: start;
    } 
    h6 {
        grid-column: 1 / -1;
        grid-row: span 1 / -1;
        justify-self: end;
        align-self: end;
    }
}

