.mobile {
    @include box-fill(grid);
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(-75deg, $p2color 50%, $p1color 50%);
    .landscape {
        @include box-fill(grid);
        justify-content: center;
        align-content: center;
        text-align: center;
        font-family: $display;
        font-size: 4rem;
    }
    .side {
        grid-row: 1 / -1;
        &.p1 {
            grid-column: 1 / span 1;
            display: grid;
            & > .name-p1 {
                justify-self: start;
                align-self: end;
            }
        }
        &.p2 {
            grid-column: span 1 / -1;
            display: grid;
            & > .name-p2 {
                justify-self: end;
                align-self: start;
                text-align: right;
            }
        }
    }
}