html {
    font-size: 62.5%;
}
body {
    font-family: $monospace;
    font-size: 1.6rem;
    color: white;
}
h2, h3, h4, h6 {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: $display;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-transform: lowercase;
    @media(max-width: 1120px) {
        font-size: 6rem;
        letter-spacing: 1rem;
    }
    @media(max-width: 950px) {
        font-size: 4rem;
    }
}
h3 {
    font-family: $display;
    font-size: 6rem;
}
h4 {
    font-family: $display;
    font-size: 3.6rem;
    text-align: center;
}
h6 {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
p {
    margin: 0;
}
span {
    display: block;
}

.count {
    display: inline-block;
}

.name {
    font-family: $display;
}
.name, .score {
    font-size: 5.6rem;
}

form {
    font-size: 2rem;
}
button, .counts {
    font-style: italic;
    text-transform: uppercase;
}
footer {
    button {
        width: 30px;
        .down {
            transform: scaleY(-1);
        }
    }
}
.overlay, .counts, .winner, footer {
    color: #333;
}

@media (max-width: 585px) {
    .name {
        font-size: 5rem;
    }
    .keyset {
        .name {
            font-size: 4rem;
        }
    }
    h2 {
        letter-spacing: 0.4rem;
    }
    h6 {
        letter-spacing: 0rem;
    }   
}