html {
    font-size: 62.5%;
}
body {
    font-family: $monospace;
    font-size: 1.6rem;
    color: white;
}
h1, h6 {
    margin: 0;
    display: inline;
}
h1 {
    font-family: $display;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-transform: lowercase;
    @media(max-width: 1120px) {
        font-size: 6rem;
    }
    @media(max-width: 950px) {
        font-size: 4rem;
    }
}
h6 {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
p {
    margin: 0;
}
.svg {
    filter: invert(1);
}   